.connection_form_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .connection_form_subContainer {
    width: 40rem;
    height: 30rem;
    background-color: $bg-color-light;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    position: relative;
    i {
      font-size: 3rem;
      color: $white;
      cursor: pointer;
      position: absolute;
      top: 1rem;
      right: 1rem;
      transition: all 0.2s ease-in-out;
    }
    i:hover {
      color: $greenHover;
    }
  }
}
