.container_condition {
  margin: auto;
  width: 80%;
  color: $white;
  font-size: medium;

  h1 {
    color: $green;
    text-align: center;
  }

  h2 {
    color: $green;
    font-weight: bold;
  }
}
