.content-container--CreateProfilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .profileForm-group-quote {
    select {
      background-color: $bg-color-light;
      color: $white;
      font-weight: bold;
      font-size: medium;
      border: none;
      padding: 0.5rem;

      &:focus {
        outline: none;
      }
    }
  }

  .optionCodePin {
    label {
      color: $white;
      margin-right: 1rem;
      font-size: 2rem;
      font-weight: 700;

      text-transform: uppercase;
    }
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    margin-bottom: 1rem;
  }
  .profile-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 3rem;
    .profileForm-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      label {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 1rem;
      }
      input {
        font-size: 3rem;
        height: 4rem;
        border-radius: 5px;
        background-color: $bg-color-light;
        color: $white;
        border: none;
        &:focus {
          outline: none;
        }
      }
      button {
        font-size: large;
        height: 4rem;
        width: 15rem;
        border-radius: 5px;
        border: none;
        color: $white;
        font-weight: 700;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        background-color: $green;
        &:hover {
          background-color: $bg-color;
          border-radius: 5px;
          color: $green;
        }
      }
    }
    .profileForm-group-pseudo {
      grid-area: 1 / 1 / 2 / 2;
    }
    .profileForm-group-quote {
      grid-area: 2 / 1 / 3 / 2;
    }
    .profileForm-group-avatar {
      grid-area: 1 / 2 / 5 / 3;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 49px 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      justify-content: center;
      h2 {
        grid-area: 1 / 1 / 2 / 5;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
      }
      label {
        cursor: pointer;
        width: 100px;
        height: 100px;
        margin: 2px;
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"]:checked + img {
        outline: 2px solid $greenHover;
        transform: scale(0.95);
      }
      img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .profileForm-group-pin {
      grid-area: 3 / 1 / 4 / 2;
    }
    .profileForm-group-pinconfirm {
      grid-area: 4 / 1 / 5 / 2;
    }
    .profileForm-group-young {
      grid-area: 5 / 1 / 6 / 2;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .profileForm-group-submit {
      grid-area: 5 / 2 / 6 / 3;
    }
  }
}
