.content-container {
  .banner {
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
    background-color: $bg-color-light;
    width: 150rem;
    img {
      width: 150rem;
    }
    .options {
      text-align: center;
      margin: auto;

      width: 150rem;
      height: 3rem;
      display: flex;
      justify-content: space-evenly;

      button {
        height: 3rem;
        width: 12rem;
        cursor: pointer;
        border-radius: 0;
        border: 0;
        background-color: $bg-color;
        color: $green;
        text-transform: uppercase;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: $green;
          color: $white;
        }
      }
    }
  }

  .button_info {
    display: flex;
    gap: 3rem;
    width: 150rem;
    margin: auto;
    button {
      height: 3rem;
      width: 12rem;
      cursor: pointer;
      border-radius: 0;
      border: 0;
      background-color: $bg-color;
      color: $green;
      text-transform: uppercase;
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: $green;
        color: $white;
      }
    }
  }

  .info {
    width: 150rem;
    margin: auto;
    background-color: $bg-color-light;

    .details {
      display: flex;
      background-color: $bg-color;
      text-align: center;
      color: $white;
      padding: 3rem;

      .info_series_movies {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        gap: 5rem;

        .title_container {
          h1 {
            font-size: 7rem;
            margin-bottom: 2rem;
          }
        }

        .date {
          display: flex;
          flex-flow: wrap;
          justify-content: center;
          align-items: center;
          gap: 2rem;
        }

        .resume {
          text-align: justify;
          width: 80%;
        }
        .genre_container {
          display: flex;
          flex-flow: wrap;
          justify-content: center;
          gap: 3rem;
          .genres {
            button {
              height: 3rem;
              width: 12rem;
              cursor: pointer;
              border-radius: 0;
              border: 0;
              background-color: $bg-color-light;
              color: $green;
              text-transform: uppercase;
              transition: 0.2s ease-in-out;

              &:hover {
                background-color: $green;
                color: $white;
              }
            }
          }
        }
      }

      .info_cast {
        width: 50%;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        gap: 5rem;

        p {
          width: 20rem;
        }
        img {
          width: 20rem;
          transition: 0.2s ease-in-out;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  .suggestions {
    width: 150rem;
    background-color: $bg-color;
    margin: auto;
    color: $white;
    font-weight: bold;
    font-size: 3rem;

    h3 {
      margin-left: 2rem;
    }
    .poster_movies {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      gap: 5rem;
      margin-top: 5rem;

      img {
        width: 20rem;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

//____TABS

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  word-break: break-all;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 10px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: $green;
}

.content-tabs {
  flex-grow: 1;
}
.content {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.active-content {
  display: block;
}
