.wrapper_faq {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
  color: $white;
  margin: 3rem;

  .accordion_faq {
    .faq_title {
      h2 {
        color: $green;
        margin-bottom: 2rem;
        text-transform: uppercase;
      }
    }
    .question_faq {
      background-color: $bg-color;
      margin-bottom: 3rem;
      padding: 2rem;

      .title_faq {
        color: $green;
        padding: 1rem;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        span {
          font-size: large;
          font-weight: bold;
        }
      }

      .content_faq {
        font-size: small;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        font-size: medium;
        text-align: justify;
      }

      .content_faq.show {
        height: auto;
        max-height: 999px;
        transition: all 0.3s ease-in-out;
        text-align: justify;
      }
    }
  }
}
