.container_genre {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 5rem;
  width: 90%;
  margin: auto;

  img {
    height: 30rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
