.header {
  height: 10rem;
  background-color: $bg-color-light;
  background-color: transparent;
  margin: 2rem;
  margin-bottom: 5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  &__left {
    display: flex;
    align-items: center;
    gap: 3rem;
    .logoHome {
      img {
        width: 9rem;
        height: 9rem;
      }
    }
    .navLink_container {
      display: flex;
      align-items: center;
      gap: 3rem;
      .header_navLink {
        color: $white;
        font-size: 2rem;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $greenHover;
        }
      }
    }

    .search_box {
      .form_search {
        i {
          color: $white;
          font-size: 1.5rem;
          font-weight: bold;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: $green;
          }
        }
        display: none;

        &.active {
          display: block;
        }
      }
      input {
        border: 2px solid $green;
        border-radius: 10px;
        background-color: $bg-color-light;
        color: $white;
        padding: 5px;

        &:focus {
          outline: none;
        }
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: flex-end;
    padding-right: 2rem;
    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        border-radius: 30%;
      }
    }
    .navLink_right {
      color: $white;
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $greenHover;
      }
    }
  }
  .menuAccordeon {
    position: absolute;
    z-index: 999;
    height: 5rem;
    background-color: transparent;
    border-radius: 5px;
    width: calc(100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    gap: 2rem;
    top: 12rem;
    left: -100rem;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    &.active {
      transform: translateX(100rem);
      opacity: 1;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      li {
        color: $white;
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}
