.content-container-settings {
  display: flex;
  gap: 1rem;
  margin: 0 5rem 5rem 5rem;
  min-height: auto;
  .settingsContainer-left {
    min-width: 30%;
    height: 50rem;
    border-radius: 1rem;
    padding: 3rem;
    border: 1px solid $white;
    color: $white;
    font-size: 2rem;
  }
  .settingsContainer-right {
    min-width: 70%;
    height: 50rem;
    border-radius: 1rem;
    padding: 3rem;
    border: 1px solid $white;
  }
}
